@font-face {
  font-family: 'Helvetica Neue';
  src: url(/assets/fonts/helvetica.ttf);
}

@font-face {
  font-family: 'Cereal';
  src: url(/assets/fonts/cereal.woff);
}

$color-background: #003345;
$color-primary: #DBDE00;
$color-secondary: #A61800;
$color-grey: #8d8d8d;

$font-primary:'Cereal', 'Helvetica Neue', Arial, sans-serif;


@import 'all';
@import 'index';
// @import './_default';
// @import './_index';